apiVersion: v1
kind: Secret
metadata:
  name: repo-myprivate
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  url: https://github.com/YOUR_USERNAME/YOUR_REPO.git
  username: YOUR_USERNAME
  password: YOUR_PERSONAL_ACCESS_TOKEN
